
.container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:bold;
  justify-content: center;
  text-align:center;

  height:50px;
  padding: 250px;
  font-size: xx-large;
  

}

.button{

  padding:10px;
  font-size: 1.2rem;
  border-radius: 10px;

}

